.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}

.title {
    font-size: 1.5em;
}

.search {
    background: #434548;
    border: none;
    border-radius: 10px;
    padding: 1em 1.75em;
    color: #cfcfcf;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search::placeholder {
    color: #888888;
}
