.footerContainer {
    background: #282c34;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    color: #b7b7b7;
    font-size: 1rem;
}

.footer__icons {
    display: flex;
    align-items: center;
}

.footer__icons > a {
    margin: 0 0.5em;
    line-height: 0;
    font-size: 1.5rem;
}
